.main-panel__form {
  visibility: visible;

  li {
    max-width: 60rem;
    margin-bottom: 1.4em;
    line-height: 1.55;
    color: #454f5b;
    position: relative;
    margin-bottom: 1em;
    //padding-left: 2.4rem;

  }
}

.usageBlock {
  position: relative;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  width: 100%;
  margin-top: 2.4rem;
  margin-bottom: 0;
  padding: 2.4rem;
  border-radius: .3rem .3rem .6rem .6rem;
  background-color: #f9fafb;
  min-width: 0;
  max-width: 100%;
}

.usageListItem {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-bottom: 1.6rem;
  padding-bottom: 1.6rem;
  padding-left: 0;
  border-bottom: 1px solid #dfe3e8;
  list-style: none;

  &:last-child {
    padding-bottom: 0;
    border-bottom: 0;
  }
}

.usageBlockCorrect {
  border-top: .3rem solid #50b83c;
}









.YipCart-Card {
  @include media-breakpoint-up(sm) {
    border-radius: 3px;
  }
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 0 0 1px rgba(63,63,68,.05), 0 1px 3px 0 rgba(63,63,68,.15);
}

.YipCart-CalloutCard__Container {
  position: relative;
  .YipCart-CalloutCard {
    display: flex;
    align-items: center;
    .YipCart-CalloutCard__Content {
      flex: 1 1 auto;
      .YipCart-CalloutCard__Title {
        margin-bottom: 1rem;
      }
      .YipCart-CalloutCard__Buttons {
        margin-top: 1rem;
        a {
          display: inline-flex;
          background-repeat: no-repeat;
          background-size: cover;
          background-position: 50% 50%;
          box-shadow: 0 6px 9px 0 rgba(23, 28, 33, 0.14);
          width: 120px;
          height: 38px;
          margin-right: 10px;
          border-radius: 5px;
          transition: all .25s ease;
        }
      }
    }
    .YipCart-CalloutCard__Image {
      //display: none;
      flex: 0 0 auto;
      width: 7rem;
    }
  }
}

.YipCart-Card__Section {
  @include media-breakpoint-up(md) {
    padding: 1rem;
  }
  padding: .9rem;
}

.YipCart-Heading {
  @include media-breakpoint-up(sm) {
    font-size: 1rem;
  }
  font-size: 1em;
  font-weight: 600;
  line-height: 1.3rem;
  margin: 0;
  color: #212b36
}

.YipCart-Card__Header {
  @include media-breakpoint-up(sm) {
    padding: 1rem 1rem 0;
  }
  padding: .9rem .9rem 0;
}

.YipCart-Card__Footer {
  @include media-breakpoint-up(md) {
    padding: 0 1rem 1rem;
  }
  display: flex;
  justify-content: flex-end;
  padding: 0 .9rem .9rem;
}

.YipCart-ButtonGroup {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: -.8rem;
  margin-left: -.8rem;
}

.YipCart-ButtonGroup__Item {
  margin-top: .8rem;
  margin-left: .8rem;
}
















.usageListItemContent {
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.ypAdminLayout {
  width: 100%;
  display: flex;
}

.yipAppBar-primary {
  color: rgba(0, 0, 0, 0.54);
  background-color: $white;
}
.yipAppBar-fixed {
  top: 0;
  left: auto;
  right: 0;
  position: fixed;
  width: 100%;
  display: flex;
  z-index: 1100;
  box-sizing: border-box;
  flex-shrink: 0;
  flex-direction: column;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2);
}
.yipAppBar-2 {
  z-index: 1201;
}

.yipAppBar-regular {
  @include media-breakpoint-up(md) {
    min-height: 64px;
    padding-left: 24px;
    padding-right: 24px;
  }
  min-height: 64px;
  display: flex;
  position: relative;
  align-items: center;
  padding-left: 16px;
  padding-right: 16px;
  .yipAppBar-toggle {
    @include media-breakpoint-up(md) {
      display: none;
    }
    cursor: pointer;
    flex: 0 0 auto;
    padding: 12px;
    overflow: visible;
    font-size: 1.5rem;
    text-align: center;
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 50%;

    color: inherit;
    border: 0;
    margin: 0;
    display: inline-flex;
    outline: none;
    position: relative;
    align-items: center;
    user-select: none;
    vertical-align: middle;
    justify-content: center;
    -moz-appearance: none;
    text-decoration: none;
    background-color: transparent;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
    .yipAppBar-toggle-icon {
      width: 100%;
      display: flex;
      align-items: inherit;
      justify-content: inherit;
      .yipAppBar-toggle-icon-1 {
        fill: currentColor;
        width: 1em;
        height: 1em;
        display: inline-block;
        font-size: 24px;
        transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
        user-select: none;
        flex-shrink: 0;
      }
      overflow: hidden;
      vertical-align: middle;
    }
  }
  .yipAppBar-search {
    @include media-breakpoint-up(md) {
      width: auto;
      margin-left: 6.5rem;
    }
    width: 100%;
    position: relative;
    margin-left: 0;
    margin-right: 16px;
    border-radius: 4px;
    background-color: #f7f7f7;
    .yipAdminLayout-searchIcon {
      width: 72px;
      height: 100%;
      display: flex;
      position: absolute;
      align-items: center;
      pointer-events: none;
      justify-content: center;
      .yipAdminLayout-searchIcon-1 {
        fill: currentColor;
        width: 1em;
        height: 1em;
        display: inline-block;
        font-size: 24px;
        transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
        user-select: none;
        flex-shrink: 0;
      }
    }

    .yipAppBar-InputBase {
      color: inherit;
      width: 100%;
      //color: rgba(0, 0, 0, 0.87);
      cursor: text;
      display: inline-flex;
      font-size: 1rem;
      font-family: "Roboto", "Helvetica", "Arial", sans-serif;
      line-height: 1.1875em;
      align-items: center;
      .yipAppBar-InputBase-input {
        font: inherit;
        color: currentColor;
        width: 100%;
        border: 0;
        margin: 0;
        padding: 6px 0 7px;
        display: block;
        min-width: 0;
        box-sizing: content-box;
        background: none;
        -webkit-tap-highlight-color: transparent;
      }
      .yipAppBar-InputBase-input-1 {
        width: 100%;
        outline: 0;
        transition: width 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
        padding-top: 8px;
        padding-left: 80px;
        padding-right: 8px;
        padding-bottom: 8px;
      }
    }
    .yipAppBar-InputBase-1 {
      color: inherit;
      width: calc(50vw);
      outline: 0;
    }
  }
  .AdminLayout-grow-5 {
    flex-grow: 1;
  }
  .yipAppBarIcon-AdminLayout {
    @include media-breakpoint-up(md) {
      display: flex;
    }
    display: none;
    .yipAppBar-IconButton {
      flex: 0 0 auto;
      color: rgba(0, 0, 0, 0.54);
      padding: 12px;
      overflow: visible;
      font-size: 1.5rem;
      text-align: center;
      transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
      border-radius: 50%;
    }
    .yipAppBar-IconButton-62 {
      color: inherit;
      border: 0;
      margin: 0;
      cursor: pointer;
      display: inline-flex;
      outline: none;
      position: relative;
      align-items: center;
      user-select: none;
      border-radius: 0;
      vertical-align: middle;
      justify-content: center;
      -moz-appearance: none;
      text-decoration: none;
      background-color: transparent;
      -webkit-appearance: none;
      -webkit-tap-highlight-color: transparent;
      .yipAppBar-IconButton-label {
        width: 100%;
        display: flex;
        align-items: inherit;
        justify-content: inherit;
        .yipAppBar-Badge{
          display: inline-flex;
          position: relative;
          vertical-align: middle;
          .yipAppBar-Badge-1 {
            fill: currentColor;
            width: 1em;
            height: 1em;
            display: inline-block;
            font-size: 24px;
            transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
            user-select: none;
            flex-shrink: 0;
          }
          .yipAppBar-Badge-colorSecondary {
            color: #fff;
            background-color: #f50057;
          }
          .yipAppBar-Badge-colorSecondary-1 {
            top: 0;
            right: 0;
            height: 20px;
            display: flex;
            padding: 0 4px;
            z-index: 1;
            position: absolute;
            flex-wrap: wrap;
            font-size: 0.75rem;
            min-width: 20px;
            transform: scale(1) translate(50%, -50%);
            box-sizing: border-box;
            transition: transform 225ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
            align-items: center;
            font-family: "Roboto", "Helvetica", "Arial", sans-serif;
            font-weight: 500;
            align-content: center;
            border-radius: 10px;
            flex-direction: row;
            justify-content: center;
            transform-origin: 100% 0%;
          }
        }
      }
    }
  }
}

.yipAdminLayout-sideNav {
  @include media-breakpoint-up(md) {
    display: block;
  }
  display: none;
  width: 240px;
  flex-shrink: 0;
}
.yipAdminLayout-sideNav-1 {
  flex: 0 0 auto;
}

.yipAdminLayout-toolbar {
  @include media-breakpoint-up(md) {
    min-height: 64px;
  }
  min-height: 56px;
}

.yipAdminLayout-drawerPaper {
  background-color: #F4F6F8;
  width: 240px;
  border-right: 1px solid rgba(177, 177, 177, 0.41);
  color: #555e77;
}
.yipAdminLayout-drawerPaper {
  left: 0;
  right: auto;
  top: 0;
  flex: 1 0 auto;
  height: 100%;
  display: flex;
  z-index: 1200;
  outline: none;
  position: fixed;
  overflow-y: auto;
  flex-direction: column;
  -webkit-overflow-scrolling: touch;
  box-shadow: none;
  .yipAsideList-root {
    margin: 0;
    padding: 0;
    position: relative;
    list-style: none;
    padding-top: 8px;
    padding-bottom: 8px;
    .yipAsideList-item {
      transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
      padding-left: 35px;
      padding-right: 16px;
      width: 100%;
      display: flex;
      position: relative;
      box-sizing: border-box;
      text-align: left;
      align-items: center;
      padding-top: 11px;
      padding-bottom: 11px;
      justify-content: flex-start;
      text-decoration: none;
    }
    .yipAsideList-item-1 {
      color: inherit;
      border: 0;
      margin: 0;
      cursor: pointer;
      outline: none;
      align-items: center;
      user-select: none;
      border-radius: 0;
      vertical-align: middle;
      -moz-appearance: none;
      text-decoration: none;
      background-color: transparent;
      -webkit-appearance: none;
      -webkit-tap-highlight-color: transparent;
      .yipAsideList-icon {
        color: rgba(0, 0, 0, 0.54);
        display: inline-flex;
        flex-shrink: 0;
        margin-right: 16px;
        .yipAsideList-icon-1 {
          fill: currentColor;
          width: 1em;
          height: 1em;
          display: inline-block;
          font-size: 24px;
          transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
          user-select: none;
          flex-shrink: 0;
        }
      }
      .yipAsideList-text {
        flex: 1 1 auto;
        padding: 0 16px;
        min-width: 0;
        .yipAsideList-text-1 {
          color: inherit;
          font-size: 1em;
          font-weight: 400;
          font-family: "Roboto", "Helvetica", "Arial", sans-serif;
          line-height: 1.5em;
          margin: 0;
          display: block;
        }
      }
      .MuiTouchRipple-root-174 {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: block;
        z-index: 0;
        position: absolute;
        overflow: hidden;
        border-radius: inherit;
        pointer-events: none;
      }
    }
  }
}




.yipAdminLayout-content {
  padding: 24px;
  flex-grow: 1;
}
.yipAdminLayout-content-bg {
  background-color: #F4F5FA;
  min-height: calc(100vh - 64px);
}