<div style="max-width: 50%; margin:100px auto">
  <img src="https://s3.us-east-2.amazonaws.com/yipcart-static-resources/yp-logo-color-faq.svg" style="width:100px; height:auto" alt="yipcart logo"/>
  <h4>Your account has been activated</h4>
  <p style="margin-bottom: 40px;">Thanks for activating your yipcart account. You can now login via our mobile app</p>
</div>