<li>
										<div class="sr-product__reviewMeta">
											<div class="sr-product__rating">
												<div class="srRating">

												</div>
											</div>
											<cite>April 3, <span>2018</span></cite>
										</div>
										<div class="sr-product__reviewContent">
											<span><%= parse_review_name(@review.text) %></span>
											<p><%= @review.text %></p>
										</div>
									</li>